@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd, pre {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	line-height: 1;
	font-family: "Noto Sans KR", "Roboto", sans-serif;
	font-size: 1em;
	overflow-x: hidden;
}
body.fixed {
	overflow-y: hidden;
}
/* body::-webkit-scrollbar {
	width: 6px;
}
body::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #aaa; 
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #eee; 
} */
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
}